.float-right {float: right;}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

span.note {
	font-style: italic 
}

#peeled-fruit img {
	width: 30%;
	height: 35;
}

#CT-is-explicit img {
	width: 20%;
	height: 20%;
}

div > img {
	width: 40%;
	height: 40%;
}
th, td {border: 1px solid black;}

th {
	color: white;
	background-color: black;
}

th, td {
	padding: 7px;
}

td.hole {border: none;}

td#dual-11 {background: lightgreen;}
td#dual-12 {background: pink;}
td#dual-21 {background: lightgreen;}
td#dual-22 {background: pink;}
td#dual-31 {background: yellow;}
td#dual-32 {background: yellow;}
