ul.menu li {
	display: inline;
	list-style-type: none;
	margin-right: 20px;
	background-color: lightgray;
	font-weight: bold;
	padding-bottom: 2pt;
	padding-left: 12pt;
	padding-right: 12pt;
	padding-top: 2pt;
	border: 5px blue solid;
}
